/Frecuencia/nbproject/private/
/Frecuencia/build/
/Generador/nbproject/private/
/Generador/build/
/Lanzador/nbproject/private/
/Lanzador/build/
/BarberoDurmiente/nbproject/private/
/Lenguaje/nbproject/private/
/Lenguaje/build/
/Colaborar/nbproject/private/
